---
layout: default
overtitle:
title: Natalie Parde - Publications
description: Assistant Professor, Department of Computer Science | Co-Director, UIC Natural Language Processing Laboratory
featured_image: /images/social.jpg
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

    <div class="wrap">
        <br /><br />
        {% capture publications %}{% include section__publications.md %}{% endcapture %}
        {{ publications | markdownify }}
    </div>

</div>
