body {
   background-color: black; 
   color: #556C8C; 
   font-family: 'Lato', sans-serif; 
   background-image: url("paper_semitransparent.jpg"); 
   background-size: cover; 
   margin: 0
}

h1 {
   color: #8A6173; 
   font-family: 'Convergence', sans-serif;
}

h2 {
   color: #8A6173;
   font-family: 'Convergence', sans-serif;
}

a {
   color: #8A6173
}

.text {
   width: 40%;

   position: absolute;
   top:40%;
   bottom: 0;
   left: 50%;
   right: 0;

   margin: auto;
}

.profilepic {
   width: 20%;

}

#banner {
   top: 0px;
   left: 0px;
   right: 0px;
   width: 100%;
   float: left;
}

hr { 
   display: block;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: auto;
   margin-right: auto;
   border-style: inset;
   border-width: 1px;
}

#horizontallist {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: #8A6173;
}

.active {
   background-color: #D5BEAC;
}

#navigation {
   float: left;
   clear: left;
   
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #556C8C;
   
   top: 30%;
   width: 100%;
}

#publications {
   width: 90%;

   float: left;
   clear: left;
   padding-left: 75px;
   padding-right: 75px;
   margin: auto;
}

#quote {
   font-family: 'Homemade Apple', cursive;
   font-size: 125%;
   display:inline-block;
   width: 90%;
   padding-top: 30px;
   padding-left: 75px;
   padding-right: 75px;
   margin: auto;
   float: left;
}

i { 
    font-style: italic;
}

hr.fancy-line {
   border: 0;
   height: 1px;
   
}
hr.fancy-line:before {
   top: -0.5em;
   height: 1em;
}
hr.fancy-line:after {
   content:'';
   height: 0.5em;
   top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
   content: '';
   position: absolute;
   width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
   background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
   background: #f4f4f4;
}

.tg  {
   border-collapse:collapse;
   border-spacing:0;
}
.tg td  {
   padding:10px 5px;
   border-style:solid;
   border-width:1px;
   overflow:hidden;
   word-break:normal;
   border-color:#556C8C;
}
.tg th  {
   padding:10px 5px;
   border-style:solid;
   border-width:1px;
   overflow:hidden;
   word-break:normal;
   border-color:#556C8C;
}
.tg .tg-qtf5  {
   border-color:#556C8C;
   text-align:left
}
.tg .tg-obcv  {
   border-color:#556C8C;
   text-align:center
}
.tg .tg-wp8o  {
   border-color:#556C8C;
   text-align:center;
   vertical-align:top
}
.tg .tg-v47y  {
   font-weight:bold;
   border-color:#556C8C;
   text-align:left
}
.tg .tg-mcqj  {
   font-weight:bold;
   border-color:#556C8C;
   text-align:left;
   vertical-align:top
}
.tg .tg-73oq  {
   border-color:#556C8C;
   text-align:left;
   vertical-align: middle;
}
@media screen and (max-width: 767px)  {
   .tg  {
      width: auto !important;
   }
   .tg col  {
      width: auto !important;
   }
   .tg-wrap  {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
   }
}
