---
layout: default
overtitle:
title: Natalie Parde - Team
description: Assistant Professor, Department of Computer Science | Co-Director, UIC Natural Language Processing Laboratory
featured_image: /images/social.jpg
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}
    
    <br /><br />
    <p align="center">
        <img src="/images/september2022.jpg" alt="Lab members standing next to each other and smiling on the UIC campus." width="500" />
    </p>
    
    <section class="about">
      <br /><br />
      <div class="wrap grid">
          <h2>Current Team Members</h2>
      </div>
      {% if include.divider == true %}
        <div class="wrap"><hr/></div>
        {% endif %}
      <div class="wrap grid">

        <div class="about__image">
          <br /><br /><br />
          <img src="{{ '/images/ankit.jpg' | relative_url }}" alt="Ankit Aich">
        </div>

        <div class="about__content">
          <h3 class="title">Ankit Aich</h3>
          <p>Ankit Aich is a doctoral student who joined the Department of Computer Science at the University of Illinois Chicago in Spring 2020. Prior to this, he was pursuing his PhD at Rochester Institute of Technology, NY. He completed his bachelor's degree in Information Technology in 2018. His interests lie in figurative language and computational social science.</p>
          <p><a href="https://ankitaich.com/" target="_blank">https://ankitaich.com</a></p>
        </div>
      </div>
      <div class="wrap grid">

      <div class="about__image">
          <br /><br /><br /><br />
          <img src="{{ '/images/mohammad.png' | relative_url }}" alt="Mohammad Arvan">
        </div>

        <div class="about__content">
          <h3 class="title">Mohammad Arvan</h3>
          <p>Mohammad Arvan is a doctoral student in the Department of Computer Science at the University of Illinois Chicago (UIC). His main research interests are in the areas of machine learning and natural language processing (NLP). Mohammad is particularly focused on reducing the computational costs of neural models in language modeling and sequence transduction tasks.</p>
          <p><a href="https://mo-arvan.github.io/" target="_blank">https://mo-arvan.github.io</a></p>
        </div>
      </div>
      <div class="wrap grid">

        <div class="about__image">
          <br /><br /><br /><br />
          <img src="{{ '/images/pardis.jpg' | relative_url }}" alt="Pardis Ranjbar">
        </div>

        <div class="about__content">
          <h3 class="title">Pardis Ranjbar</h3>
          <p>Pardis Ranjbar is a doctoral student in the Department of Computer Science at the University of Illinois Chicago. Her research interests are in detecting self-disclosure and applications of NLP in healthcare.</p>
        </div>
      </div>
      <div class="wrap grid">

        <div class="about__image">
          <br /><br /><br />
          <img src="{{ '/images/shahla.jpg' | relative_url }}" alt="Shahla Farzana">
        </div>

        <div class="about__content">
          <h3 class="title">Shahla Farzana</h3>
          <p>Shahla Farzana is a doctoral student in the Department of Computer Science at the University of Illinois Chicago. She received her bachelor's degree in Computer Science and Engineering from Bangladesh University of Engineering and Technology in 2015. Her research interests lie at the intersection of natural language processing, human computer interaction, and interactive interface design.</p>
        </div>
      </div>
      <div class="wrap grid">

        <div class="about__image">
          <br /><br /><br />
          <img src="{{ '/images/souvik.jpg' | relative_url }}" alt="Souvik Bhattacharya">
        </div>

        <div class="about__content">
          <h3 class="title">Souvik Bhattacharya</h3>
          <p>Souvik Bhattacharya is a doctoral student in the Department of Computer Science at the University of Illinois Chicago. Prior to this, he completed his master's degree (with a thesis) in Computer Science from the University of Illinois Chicago. His research interests are in misinformation detection and in the intersection of language with other modalities.</p>
          <p><a href="https://souvik3.godaddysites.com/" target="_blank">souvikb.com/</a></p>
        </div>
      </div>
      <div class="wrap grid">
        <div class="about__image">
          <br /><br /><br />
          <img src="{{ '/images/usman.jpg' | relative_url }}" alt="Usman Shahid">
        </div>

        <div class="about__content">
          <h3 class="title">Usman Shahid</h3>
          <p>Usman Shahid is a doctoral student in the Department of Computer Science at the University of Illinois Chicago. His research interests are in multimodal machine learning, specifically he is interested in developing methods that improve the transfer of knowledge between modalities (co-learning, cross-modal transfer).</p>
          <p>Previously, he has worked on failure point detection in large scale dialogue systems, frame analysis, causal inference, plagiarism & content spam detection, affective image analysis, sentiment analysis, media analytics, event extraction and ICTD.</p>
          <p><a href="https://www.usmanshahid.com/" target="_blank">https://www.usmanshahid.com/</a></p>
        </div>
      </div>
    </section>

    <div class="wrap">
        {% capture team %}{% include section__team.md %}{% endcapture %}
        {{ team | markdownify }}
    </div>

</div>
